<link rel="stylesheet" type="text/css" href="/css/authenticate.css">
<div id="authenticate-root-div">
    <div id="authenticate-header">Habit Tracker</div>
    <img src="https://img.freepik.com/free-vector/illustration-calendar-icon_53876-5588.jpg?size=338&ext=jpg">
    <div>
    <a href="/users/sign-up"><div id="authenticate-sign-up">Sign Up</div></a>
    <a href="/users/sign-in"><div id="authenticate-sign-in">Sign In</div></a>
    </div>
</div>