<link rel="stylesheet" type="text/css" href="/css/authenticate.css">
<div id="authenticate-root-div">
    <div id="authenticate-header">Habit Tracker</div>
    <img src="https://img.freepik.com/free-vector/illustration-calendar-icon_53876-5588.jpg?size=338&ext=jpg">
    <div>
        <form method="POST" action="/users/create-session">
            <input type="email" placeholder="Your Email" name="email" required><br/>
            <input type="password" placeholder="Your Password" name="password" required><br/>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>