#habit-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #161B22;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    color: cyan;
}

#header-user-name {
    font-size: 1rem;
}

#header-log-out {
    height: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    background-color: rgb(156, 0, 0);
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
}

#header-log-out a {
    color: white;
    text-decoration: none;
}

#habit-body {
    width: 80vw;
    min-height: 70vh;
    margin-top: 5vh;
    margin-left: 10vw;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #161B22;
    text-align: center;
    margin-bottom: 5vh;
}

#habit-body #habit-body-header {
    font-size: 1.5rem;
    font-weight: bold;
    color: cyan;
    margin-bottom: 2rem;
}

.habit-name {
    color: cyan;
    text-decoration: none;
}

#habit-body #links {
    display: flex;
    flex-direction: row;
    margin-left: 30vw;
    color: cyan;
    margin-bottom: 2rem;
}

#habit-body #links a {
    margin-right: 2rem;
    color: white;
}

#habit-body form {
    margin-bottom: 2rem;
}

#habit-body form input {
    width: 60vw;
    border: none;
    height: 1.5rem;
    padding: .5rem;
    border-radius: .5rem;
    outline: none
}

#habit-body form button {
    padding: .5rem;
    color: white;
    background-color: rgb(156, 0, 0);
    border: none;
    border-radius: .5rem;
    height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Orbitron', sans-serif;
}

.individual-habit {
    width: 65vw;
    height: 4rem;
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    vertical-align: middle;
    padding: 1rem;
    padding-top: .3rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    margin-left: 6vw;
}

.individual-habit .habit-delete img {
    margin-top: 1.5rem;
    height: 30px;
    border-radius: 50%;
}

.individual-habit .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 10vw;
}

.individual-habit .wrapper .mark-favourite {
    margin-left: 1rem;
    margin-top: 1.6rem;
}

.individual-habit .wrapper .mark-favourite img {
    height: 20px;
}

.individual-habit .habit-name {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.individual-habit .habit-stats {
    font-size: .6rem;
    text-align: justify;
    margin-right: 4rem;
}

.habit-stat-delete {
    display: flex;
    flex-direction: row;
}

.calender-item {
    height: 3rem;
    width: 7vw;
    background-color: rgb(105, 105, 105);
    margin-top: .7rem;
    border-radius: .2rem;
}

.calender-item .calender-upper-div {
    font-size: .8rem;
    height: 1rem;
    background-color: rgb(31, 147, 255);
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
}

.calender-item .calender-bottom-div img {
    margin-top: 5px;
    height: 20px;
}

#habit-detailed-header {
    display: flex;
    flex-direction: row;
    width: 65vw;
    justify-content: space-between;
    color: cyan;
    margin-left: 8vw;
}

#habit-detailed-header #habit-detailed-name {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    font-weight: bold;
}

#habit-detailed-header #habit-detailed-stats {
    font-size: .8rem;
    text-align: left;
    vertical-align: middle;
}

#habit-detailed-header #habit-detailed-stats img {
    height: 25px
}

#chartWrapper {
    width: 60vw;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-bottom: 2rem;
}

#myChart {
    background-color: white;
    border-radius: .5rem;
    padding: 1rem;
}

#chartWrapper-doughnut {
    width: 35vw;
    margin-top: 10vh;
    margin-left: 24vw;
    margin-bottom: 2rem;
}